USE [master]
GO
/****** Object:  Database [ClinicaDB]    Script Date: 26/10/2025 16:11:59 ******/
CREATE DATABASE [ClinicaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\ClinicaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\ClinicaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaDB]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[IdUsuario] [int] NOT NULL,
	[Area] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorio](
	[IdConsultorio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Ubicacion] [nvarchar](100) NULL,
	[Telefono] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[NombreEspecialidad] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoTurno]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTurno](
	[IdEstadoTurno] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Dni] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Celular] [int] NULL,
	[Matricula] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoTrabajo]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoTrabajo](
	[IdMedicoTrabajo] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdConsultorio] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[DiasAtencion] [nvarchar](50) NOT NULL,
	[HoraInicio] [time](0) NOT NULL,
	[HoraFin] [time](0) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedicoTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoUsuario]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoUsuario](
	[IdUsuario] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Dni] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Celular] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recepcion]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepcion](
	[IdUsuario] [int] NOT NULL,
	[Turno] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](0) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaAlta] [datetime2](0) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[IdPaciente] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdConsultorio] [int] NOT NULL,
	[IdEstadoTurno] [int] NOT NULL,
	[IdMedicoTrabajo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/10/2025 16:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TipoUsuario] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Dni] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Celular] [int] NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_Turno_Medico_Fecha]    Script Date: 26/10/2025 16:12:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Turno_Medico_Fecha] ON [dbo].[Turno]
(
	[IdMedico] ASC,
	[FechaHora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Turno_Paciente_Fecha]    Script Date: 26/10/2025 16:12:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Turno_Paciente_Fecha] ON [dbo].[Turno]
(
	[IdPaciente] ASC,
	[FechaHora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultorio] ADD  CONSTRAINT [DF_Consultorio_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Especialidad] ADD  CONSTRAINT [DF_Especialidad_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Medico] ADD  CONSTRAINT [DF_Medico_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MedicoTrabajo] ADD  CONSTRAINT [DF_MedicoTrabajo_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Paciente] ADD  CONSTRAINT [DF_Paciente_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [DF_Turno_Duracion]  DEFAULT ((60)) FOR [DuracionMinutos]
GO
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [DF_Turno_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [DF_Turno_FechaAlta]  DEFAULT (sysdatetime()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_FechaRegistro]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD  CONSTRAINT [FK_Administrador_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administrador] CHECK CONSTRAINT [FK_Administrador_Usuario]
GO
ALTER TABLE [dbo].[MedicoTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_MedicoTrabajo_Consultorio] FOREIGN KEY([IdConsultorio])
REFERENCES [dbo].[Consultorio] ([IdConsultorio])
GO
ALTER TABLE [dbo].[MedicoTrabajo] CHECK CONSTRAINT [FK_MedicoTrabajo_Consultorio]
GO
ALTER TABLE [dbo].[MedicoTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_MedicoTrabajo_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[MedicoTrabajo] CHECK CONSTRAINT [FK_MedicoTrabajo_Especialidad]
GO
ALTER TABLE [dbo].[MedicoTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_MedicoTrabajo_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[MedicoTrabajo] CHECK CONSTRAINT [FK_MedicoTrabajo_Medico]
GO
ALTER TABLE [dbo].[MedicoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_MedicoUsuario_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[MedicoUsuario] CHECK CONSTRAINT [FK_MedicoUsuario_Medico]
GO
ALTER TABLE [dbo].[MedicoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_MedicoUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicoUsuario] CHECK CONSTRAINT [FK_MedicoUsuario_Usuario]
GO
ALTER TABLE [dbo].[Recepcion]  WITH CHECK ADD  CONSTRAINT [FK_Recepcion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recepcion] CHECK CONSTRAINT [FK_Recepcion_Usuario]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Consultorio] FOREIGN KEY([IdConsultorio])
REFERENCES [dbo].[Consultorio] ([IdConsultorio])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Consultorio]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Especialidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_EstadoTurno] FOREIGN KEY([IdEstadoTurno])
REFERENCES [dbo].[EstadoTurno] ([IdEstadoTurno])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_EstadoTurno]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Medico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_MedicoTrabajo] FOREIGN KEY([IdMedicoTrabajo])
REFERENCES [dbo].[MedicoTrabajo] ([IdMedicoTrabajo])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_MedicoTrabajo]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Paciente]
GO
ALTER TABLE [dbo].[MedicoTrabajo]  WITH CHECK ADD  CONSTRAINT [CK_MedicoTrabajo_Fechas] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[MedicoTrabajo] CHECK CONSTRAINT [CK_MedicoTrabajo_Fechas]
GO
ALTER TABLE [dbo].[MedicoTrabajo]  WITH CHECK ADD  CONSTRAINT [CK_MedicoTrabajo_Horas] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[MedicoTrabajo] CHECK CONSTRAINT [CK_MedicoTrabajo_Horas]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [CK_Turno_NoPasado] CHECK  (([FechaHora]>=sysdatetime()))
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [CK_Turno_NoPasado]
GO
USE [master]
GO
